@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@700&display=swap');

.body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Niramit', sans-serif;
	font-size: 14px;
	line-height: 17px;
  font-weight: 600;
}

div {
    box-sizing: border-box;
}

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

.gu-hide {
	display: none !important;
}

.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.gu-transit {
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.background {
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#42b983), to(#2f9768));
	background-image: linear-gradient(180deg, #42b983, #2f9768);
}

.app-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	height: 100vh;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.center-elements {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.selected-classes {
	width: 630px;
	height: 630px;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	scrollbar-width: none;
}

.selected-classes::-webkit-scrollbar {
	display: none;
}

.class-times {
  width: 150px;
  height: 600px;
  margin-right: 10px;
  order: -1;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.4);
  overflow: hidden;
  text-align: center;
  
}

.search-container {
	width: 425px;
	height: 630px;
}

.search-options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-style: solid;
	border-width: 1px;
	border-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.all-classes {
	width: 100%;
	height: 510px;
	padding-top: 10px;
	padding-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	scrollbar-width: none;
}

.all-classes::-webkit-scrollbar {
	display: none;
}

.search-searchbox {
	width: 100%;
	height: 40px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
	background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    color: #c4c4c4;
    font-size: 15px;
    line-height: 35px;
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
    line-height: 35px;
    font-weight: 500;
}

.grade-selector {
	width: 114px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50px;
	background-color: #fff;
}

.subject-selector {
	width: 114px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50px;
	background-color: #fff;
}

.ap-option {
	width: 80px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50px;
	background-color: #fff;
}

.honors-option {
	width: 80px;
	height: 40px;
	border-radius: 50px;
	background-color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #ff6868;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    background-color: #52d062;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

.sleep-block {
	width: 100%;
}

.school-block {
	width: 100%;
}

.freetime-block {
	width: 100%;
}

.class-container {
    position: relative;
    overflow: hidden;
    width: 195px;
    min-height: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.class-desciption {
  line-height: 13px;
  font-size: 12px;
  height: 90px;
  padding: 4px;
  padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 22px;
  overflow: hidden;
}

.class-container:hover > .class-desciption {
  height: auto;
  font-size: 18px;
  line-height: 20px;
}

.class-container:hover {
  height: fit-content;
}

/*
.class-desciption:hover {
  height: 100%;
}

.class-desciption:hover {
  background-color: rgb(196, 19, 19);
  overflow: visible;
  z-index: 2;
}
*/

.class-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    width: 100%;
    height: 37.5px;
    padding-left: 5px;
    background-color: #ff4b4b;
  
}

.class-subject {
	position: absolute;
	left: 0%;
	top: auto;
	right: auto;
	bottom: 0%;
	padding-bottom: 5px;
	padding-left: 5px;
  z-index: 1;
}

.class-id {
	position: absolute;
	left: auto;
	top: auto;
	right: 0%;
	bottom: 0%;
	padding-right: 5px;
    padding-bottom: 5px;
}

.school {
  width: 100%;
  height: 20px;
  background-color: #fc5858;
  overflow: hidden;
}
.homework {
  width: 100%;
  height: 0;
  background-color: #3cf0e1;
  overflow: hidden;
}
.free-time {
  width: 100%;
  height: 67%;
  background-color: #b3f065;
  overflow: hidden;
}
.sleep {
  width: 100%;
  height: 33%;
  background-color: #3d49fc;
  overflow: hidden;
}
.time {
  padding-top:3%
}
