@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@700&display=swap');

.body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Niramit', sans-serif;
	font-size: 14px;
	line-height: 17px;
  font-weight: 600;
}

div {
    box-sizing: border-box;
}

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

.gu-hide {
	display: none !important;
}

.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.gu-transit {
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

.background {
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#42b983), to(#2f9768));
	background-image: linear-gradient(180deg, #42b983, #2f9768);
}

.app-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	height: 100vh;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.center-elements {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.selected-classes {
	width: 630px;
	height: 630px;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	scrollbar-width: none;
}

.selected-classes::-webkit-scrollbar {
	display: none;
}

.class-times {
  width: 150px;
  height: 630px;
  margin-right: 10px;
  order: -1;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.4);
  overflow: hidden;
  text-align: center;
  border: black;
  border-width: 4px;
}

.search-container {
	width: 425px;
	height: 630px;
}

.search-options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-style: solid;
	border-width: 1px;
	border-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.all-classes {
	width: 100%;
	height: 510px;
	padding-top: 10px;
	padding-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	scrollbar-width: none;
}

.all-classes::-webkit-scrollbar {
	display: none;
}

.search-searchbox {
	width: 100%;
	height: 40px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 50px;
    border: none;
    outline: none;
	background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    color: #000000;
    font-size: 15px;
    line-height: 35px;
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
    line-height: 35px;
    font-weight: 500;
}

.grade-selector {
	width: 114px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50px;
	background-color: #fff;
}

.subject-selector {
	width: 114px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50px;
	background-color: #fff;
}

.ap-option {
	width: 80px;
	height: 40px;
	margin-right: 5px;
	border-radius: 50px;
	background-color: #fff;
}

.honors-option {
	width: 80px;
	height: 40px;
	border-radius: 50px;
	background-color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #ff6868;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    background-color: #52d062;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

.sleep-block {
	width: 100%;
}

.school-block {
	width: 100%;
}

.freetime-block {
	width: 100%;
}

.class-container {
    position: relative;
    overflow: hidden;
    width: 195px;
    min-height: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.class-desciption {
  line-height: 13px;
  font-size: 12px;
  height: 90px;
  padding: 4px;
  padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 22px;
  overflow: hidden;
}

.class-container:hover > .class-desciption {
  height: auto;
  font-size: 15px;
  line-height: 17px;
}

.class-container:hover {
  height: fit-content;
}

/*
.class-desciption:hover {
  height: 100%;
}

.class-desciption:hover {
  background-color: rgb(196, 19, 19);
  overflow: visible;
  z-index: 2;
}
*/

.class-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    width: 100%;
    height: 37.5px;
    padding-left: 5px;
    background-color: #ff4b4b;
  
}

.class-subject {
	position: absolute;
	left: 0%;
	top: auto;
	right: auto;
	bottom: 0%;
	padding-bottom: 5px;
	padding-left: 5px;
  z-index: 1;
}

.class-id {
	position: absolute;
	left: auto;
	top: auto;
	right: 0%;
	bottom: 0%;
	padding-right: 5px;
    padding-bottom: 5px;
}

.school {
  width: 100%;
  height:0;
  background-color: #fc5858;
  overflow: hidden;
}
.homework {
  width: 100%;
  height: 0;
  background-color: #3cf0e1;
  overflow: hidden;
}
.free-time {
  width: 100%;
  height: 67%;
  background-color: #b3f065;
  overflow: hidden;
}
.sleep {
  width: 100%;
  height: 33%;
  background-color: #3d49fc;
  overflow: hidden;
}
.time {
  padding-top:3%
}

/* class applies to select element itself, not a wrapper element */
.select-css {
  display: block;
  font-size: 16px;
  font-family: "Niramit";
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #bbb;
  box-shadow: 0 2px 0 1px rgb(0 0 0 / 0.2);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #3cf0e1;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
  /* ATTENTION THE NEXT TWO LINES OF CODE DO NOTHING */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #484848;
  border-width: 2px;
}
/* Focus style */
.select-css:focus {
  border-color: #505bff;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 2px 4px #52b9d0ed;
  box-shadow: 0 0 0 4px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css, .select-css[aria-disabled=false] {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #aaaaff 0%,#ffaaff 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}


body {
  margin: 0rem;
}
